body,html{
  width:100vw;
  height:100vh;
}


h1, h3{
  text-decoration: underline;
  color:red;
  font-family:"space_ageregular";
  text-align:center;
  font-size: 24px;
}
body{
  
  color:white;
  background:black;
}