body,html{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  color:white;
  background:black;
}


h1, h3{  
  margin:0 auto;
  text-decoration: underline;
  color:red;
  padding-top:60px;
  font-family:"space_ageregular";
}
h1{
  font-size:24px;
}

h3{
  font-size:20px;
}

.colonistPic{
  margin:0 auto;
  height:300px;
  width:500px;
  background:url("../../../assets/images/colonist.jpg")
}

form{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:100px auto;
}

input{
  margin:20px auto;
  border-bottom:red;
  width:100vw;
  border:none;
  background: black;
  color: red;
}

select{
  font-family:"space_ageregular";
  width:100vw;
  margin:20px auto;
  background:black;
  color:red;
  border:none;
}

button{
  font-family:"space_ageregular";
  border:none;
  background:black;
  color:red;
}


