body,html{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  color:white;
  background:black;
}


h1, h3{  
  margin:0 auto;
  text-decoration: underline;
  color:red;
  padding-top:60px;
  font-family:"space_ageregular"
}

.colonistPic{
  margin:0 auto;
  height:300px;
  width:500px;
  background:url("../../../assets/images/colonist.jpg")

}

form{
  margin:100px auto;
}