<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>
    Recent Encounters
  </h1>

{{ message }}
<button (click)="stopTheMadness($event)">Stop the Madness</button>
<div class="encounters-list">
<ul>
  

<p *ngIf="listOfMessages.length > 10"> The list is too long!{{listOfMessages.length}}</p>
<li *ngFor="let item of listOfMessages">{{item}}</li>
</ul>
</div>

<h1 class="report-button">
  Report Encounter
</h1>

</body>
</html>
