body,html{
  width:100vw;
}

.encounters-list{
  top:0px;
  background-attachment: bottom;
}

h1{
  color:red;
  text-decoration: underline;
  padding:40px;
  font-family:"space_ageregular"
}
.background{
  color:white;

  background:url("../../../assets/images/encounter.jpg") no-repeat;
}
ul{
  background: rgba(0, 0, 0, 0.4)
}