@font-face {
    font-family: 'space_ageregular';
    src: url('assets/fonts/space_age.eot');
    src: url('assets/fonts/space_age.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/space_age.woff2') format('woff2'),
         url('assets/fonts/space_age.ttf') format('truetype'),
         url('assets/fonts/space_age.svg#space_ageregular') format('svg');
    font-weight: normal;
    font-style: normal;

}